@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
    background-color: #011627;
}

button{
    font-weight: bolder;
}

.title{
    padding-top: 14px;
    padding-bottom: 14px;
    color: #7FDBCA;
}

#header{
    z-index: 1000;
    width: 100%;
    padding: 8px;
    position: fixed;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.479); 
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1{
    cursor: pointer;
    color: #7FDBCA;
    letter-spacing: 2px;
}

nav ul li{
    padding: 12px;
    display: inline-block;
}

nav ul li a{
    color: #ABB2BF;
}

nav ul li a:hover{
    color: #ECC48D;
    text-decoration: 2px underline #F78C6C;
}

nav button{
    cursor: pointer;
    padding: 6px 10px;
    background-color: #7FDBCA;
    color: #011627;
    border: #7FDBCA 2px solid;
    border-radius: 4px;
}

main{
    margin: 0% 10%;
}

.hero{
    display: flex;
    width: 100%;
    height: 100vh;
}

.hero-content{
    width: 40%
}

.hero-description{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    color: #ABB2BF;
}

.hero-description span{
    color: #F78C6C;
}

.hero-description h3{
    font-weight: bold;
    font-size: 36px;
}

.hero-description h4{
    font-size: 28px;
}

.cta button{
    cursor: pointer;
    background-color: #7FDBCA;
    color: #011627;
    border: 2px solid #7FDBCA;
    padding: 8px 16px;
    border-radius: 0px 8px;
}

.hero-img{
    width: 60%;
}

.hero-img img{
    padding: 18px;
    width: 100%;
    height: 100vh;
}

.services{
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service img{
    width: 128px;
    height: auto;
}

.service{
    cursor: pointer;
    width: 20%;
    box-shadow: 1px 2px 6px 2px rgba(34, 34, 34, 0.315);
    padding: 12px;
    text-align: center;
    border-radius: 4px;
}

.service h3{
    color: #F78C6C;
}

.service p{
    color: #ECC48D;
}

.service:hover{
    transform: rotateY(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.technologies img{
    justify-content: space-between;
    align-items: center;
    width: 82px;
    height: auto;
    display: inline-block;
    padding: 18px;
}

.portfolio img{
    width: 100%;
    height: auto;
    padding: 14px;
}

.about-description{
    display: flex;
    padding-bottom: 16px;
}

.about-description p{
    padding: 18px;
    text-align: justify;
    color: #ABB2BF;
}

.about-description img{
    width: 256px;
    height: auto;
    border-radius: 0px 10px;
}

.contact img{
    width: 62px;
    height: auto;
    padding: 18px;
}

footer{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.479); 
    border-radius: 0px 42px 0px 0px;
    text-align: center;
    color: #7FDBCA;
    padding: 16px;
}

hr{
    border-top: 1px solid rgba(255, 255, 255, 0.267);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.social img{
    padding: 12px;
    width: 48px;
    height: auto;
}

footer h3,h6{
    font-weight: 400;
}

footer small{
    color: rgba(255, 255, 255, 0.521);
}

#menu-logo{
    display: none;
    width: 28px;
    height: auto;
}

#download-btn{
    display: none;
}

#message{
    display: none;
}


@media screen and (max-width: 600px) {

    *{
        display: none;
    }

    #message{
        display: block;
    }

    /* header{
        overflow: hidden;
    }

    .services{
        display: block;
    }

    .downloadCV{
        display: none;
    }

    #download-btn{
        display: inline;
    }

    #menu-logo{
        display: inline;
    }

    nav{
        display: block;
    }

    nav ul li{
        display: block;
        text-align: center;
    }

    #mobileLinks{
        display: none;
    }

    #mobileNav{
        display: block;
    }

    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    } */
  }