@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
    background-color: #011627;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

button {
    font-weight: bolder;
}

.title {
    padding-top: 14px;
    padding-bottom: 14px;
    color: #7FDBCA;
}

#header {
    z-index: 1000;
    width: 100%;
    padding: 8px;
    position: fixed;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.479);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    cursor: pointer;
    color: #7FDBCA;
    letter-spacing: 2px;
}

nav ul li {
    padding: 12px;
    display: inline-block;
}

nav ul li a {
    color: #ABB2BF;
}

nav ul li a:hover {
    color: #ECC48D;
    text-decoration: 2px underline #F78C6C;
}

nav button {
    cursor: pointer;
    padding: 6px 10px;
    background-color: #7FDBCA;
    color: #011627;
    border: #7FDBCA 2px solid;
    border-radius: 4px;
}

main {
    margin: 0% 10%;
}

.hero {
    display: flex;
    width: 100%;
    height: 100vh;
}

.hero-content {
    width: 40%
}

.hero-description {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    color: #ABB2BF;
}

.hero-description span {
    color: #F78C6C;
}

.hero-description h3 {
    font-weight: bold;
    font-size: 36px;
}

.hero-description h4 {
    font-size: 28px;
}

.cta button {
    cursor: pointer;
    background-color: #7FDBCA;
    color: #011627;
    border: 2px solid #7FDBCA;
    padding: 8px 16px;
    border-radius: 0px 8px;
}

.hero-img {
    width: 60%;
}

.hero-img img {
    padding: 18px;
    width: 100%;
    height: 100vh;
}

.services {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flip-card-front img {
    width: 128px;
    height: auto;
}

.flip-card {
    cursor: pointer;
    width: 20%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.479);
    text-align: center;
    margin: 14px;
}

.services h4 {
    color: #F78C6C;
    padding: 0px 8px;
}

.services p {
    color: #ABB2BF;
}

.flip-card {
    border-radius: 8px;
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.flip-card-inner {
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    border-radius: 8px;
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    border-radius: 8px;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back p {
    padding: 14px;
    text-align: center;
}

.technologies img {
    justify-content: space-between;
    align-items: center;
    width: 82px;
    height: auto;
    display: inline-block;
    padding: 18px;
}

.portfolio img {
    width: 100%;
    height: auto;
    padding: 14px;
}

.about-description {
    display: flex;
    padding-bottom: 16px;
}

.about-description p {
    padding: 18px;
    text-align: justify;
    color: #ABB2BF;
}

.about-description img {
    width: 256px;
    height: auto;
    border-radius: 0px 10px;
}

.contact img {
    width: 62px;
    height: auto;
    padding: 18px;
}

footer {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.479);
    border-radius: 0px 42px 0px 0px;
    text-align: center;
    color: #7FDBCA;
    padding: 16px;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.267);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.social img {
    padding: 12px;
    width: 48px;
    height: auto;
}

footer h3,
h6 {
    font-weight: 400;
}

footer small {
    color: rgba(255, 255, 255, 0.521);
}

#menu-logo {
    display: none;
    width: 28px;
    height: auto;
}

#download-btn {
    display: none;
}

.mobile-hero-img img {
    display: none;
}

@media screen and (max-width: 480px) {

    .services {
        display: inline;
    }

    .downloadCV {
        display: none;
    }

    #download-btn {
        display: inline;
    }

    #menu-logo {
        display: inline;
    }

    nav {
        display: block;
    }

    .about-description {
        display: block;
    }

    nav ul li {
        display: block;
        text-align: center;
    }
    
    .active {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero-img {
        display: none;
    }

    .mobile-hero-img {
        width: 100%;
        height: auto;
    }

    .mobile-hero-img img {
        display: inline;
        width: 100%;
        height: auto;
    }

    .hero-content {
        width: 100%;
    }

}