@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.title{
    color: #3F37C9;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1{
    cursor: pointer;
    color: #3F37C9;
    letter-spacing: 2px;
}

nav ul li{
    padding: 12px;
    display: inline-block;
}

nav ul li a{
    color: black;
}

nav ul li a:hover{
    text-decoration: 2px underline #3F37C9;
}

nav button{
    cursor: pointer;
    padding: 6px 10px;
    background-color: #3F37C9;
    color: white;
    border: #3F37C9 2px solid;
    border-radius: 4px;
}

main{
    margin: 0% 10%;
}

.hero{
    display: flex;
    width: 100%;
    height: 100vh;
}

.hero-content{
    width: 40%
}

.hero-description{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
}

.hero-description span{
    color: #3F37C9;
}

.hero-description h3{
    font-weight: bold;
    font-size: 36px;
}

.hero-description h4{
    font-size: 28px;
}

.cta button{
    cursor: pointer;
    background-color: #3F37C9;
    color: white;
    border: 2px solid #3F37C9;
    padding: 8px 16px;
    border-radius: 4px 8px;
}

.hero-img{
    width: 60%;
}

.hero-img img{
    padding: 18px;
    width: 100%;
    height: 100vh;
}

.services{
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service img{
    width: 128px;
    height: auto;
}

.service{
    cursor: pointer;
    width: 20%;
    box-shadow: 1px 2px 6px 2px rgba(34, 34, 34, 0.315);
    padding: 12px;
    text-align: center;
    color: #3F37C9;
    border-radius: 4px;
}

.technologies img{
    justify-content: space-between;
    align-items: center;
    width: 82px;
    height: auto;
    display: inline-block;
    padding: 18px;
}

.portfolio img{
    width: 100%;
    height: auto;
    padding: 14px;
}

.about-description{
    display: flex;
}

.about-description p{
    padding: 18px;
    text-align: justify;
}

.about-description img{
    width: 256px;
    height: auto;
    border-radius: 4px 8px;
}

.contact img{
    width: 84px;
    height: auto;
    padding: 18px;
}

footer{
    background-color: #3F37C9;
    color: white;
    padding: 16px;
}

.social img{
    padding: 12px;
    width: 48px;
    height: auto;
}

footer small{
    color: rgba(255, 255, 255, 0.521);
}